# --------------------------------------------------------------------------
# Modified version of bluealsa.service unit definition
# (replaced WantedBy=graphical.target with WantedBy=bluetooth.target)
#
# Author: Bernhard Bablok
# License: GPL3
#
# Website: https://github.com/bablokb/pi-btaudio
#
# --------------------------------------------------------------------------

[Unit]
Description=BluezALSA proxy
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bluealsa

[Install]
WantedBy=bluetooth.target
